div{
    width: 93px;
    box-sizing: border-box;    
}

div span{
    width: 93px;
    padding: 10px;
    color: white;
    border-radius: 3px;
    background: black;
    float: left;
    box-sizing: border-box;
}

ul{
    width: 93px;
    display: none;
    margin: 0;
    padding: 0;
    background: black;
    border-radius: 3px;
    border-top: 1px solid grey;
    box-sizing: border-box;
    float: left;
}

li{
    padding: 7px 10px;
    color: white;
    list-style-type: none;
}

p{
    padding-top: 10px;
    clear: left;      
}

span:hover+ul{
    cursor: pointer;
    display: block;
    position: fixed;
    top: 47px;
}
div+span{
    float: left;
    padding: 10px;
}
